body {
  background-color: rgb(39, 39, 39);
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  padding: 50px;
}

.wrapper {
  margin: 0% 25%;
}

button {
  transition: 1s;
  cursor: pointer;
  margin: 15px;
  width: 120px;
  height: 30px;
  background-color: rgb(59, 59, 59);
  font-weight: 600;
  color: rgb(95, 95, 95);
  text-align: center;
}
#reset {
  width: 50%;
  margin: 0% 25%;
  margin-top: 15px;
  height: 40px;
}

#reset:hover {
  background-color: rgb(216, 75, 71);
  font-weight: 600;
  color: white;
}
#save:hover {
  background-color: rgb(74, 197, 156);
  font-weight: 600;
  color: white;
}

th {
  transition: 0.5s;
  cursor: pointer;
  margin: 0px;
  border: 1px solid black;
  height: 80px;
  font-size: 40px;
  background-color: rgb(63, 63, 63);
}
th:hover {
  background-color: rgb(74, 197, 156);
}

#winner {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  color: rgb(74, 197, 156);
}

input {
 width: 35%;
 height: 25px;
 margin: 0px;
 background-color: rgb(83, 83, 83);
 color: aliceblue;
 margin: 0% 1%;
}

#save {
  width: 30%;
  margin: 0px;
  margin: 0% 2%;
  height: 33px;
}

.name-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0px;
}